# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
dcprocess

# Other thingis
doc/*
out/*
.idea/
*.bmp
*.iml

# Ignore new files in lib/*/* after adding
/lib/jxr-1.1/*
/lib/jpg-9a/*
/lib/j2k-2.1.0/*
/lib/vqi-0.3.3/*
/lib/iqa-1.1.2/*